.search_order {
    width: auto;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
}

.input_names {
    width: 25%;
    display: inline-block;
}

.input_field {
    width: 74%;
    display: inline-block;
}

.search_order input {
    width: 200px;
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
}

.search_order select {
    width: 205px;
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
}

.search_order_btn {
    margin-left: 22px;
    margin-right: 22px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.list_orders {
    margin-top: 70px;
    width: 100%;
    overflow: hidden;
}

.one_order {
    margin: 1%;
    overflow: hidden;
    text-align: center;
}

.img_order {
    display: inline-block;
}

.img_order img {
    width: 200px;
    height: 200px;
}

.one_order .info_order {
    width: 26%;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.album_orders {
    max-height: 205px;
    overflow-y: auto;
}

.album_orders table {
    width: 90%;
    margin: auto;
    border: 1px solid #dddddd;
    border-collapse: collapse;
}

.album_orders a:visited {
    text-decoration:none;
    color: inherit;
}

.album_orders a {
    text-decoration: none;
    color: inherit;
    font-family: sans-serif;
}

.album_orders a:hover {
    text-decoration: underline;
}


.album_orders tr:nth-child(even) {
    background-color: #dddddd;
}

.one_order .status {
    width: 40%;
    margin-left: 30px;
    overflow: hidden;
    padding-top: 1%;
    display: inline-block;
    vertical-align: top;
}

.one_order .status {
    width: 60%;
}

.one_order #status_btn {
    margin-top: 10px;
    margin-left: 30px;
}

@media only screen and (max-width: 1400px) {
    .img_order {
        width: 95%;
    }
    
    .img_order img {
        width: 250px;
        height: 250px;
    }
    
    .one_order .info_order {
        width: 30%;
    }
}

@media only screen and (max-width: 1015px) {
    .one_order .info_order {
        width: 80%;
        text-align: center;
    }

    .one_order .status {
        margin: 0;
    }

    .one_order #status_btn {
        margin-left: 0;
    }
}

@media only screen and (max-width: 990px) {
    .input_names {
        width: 100%;
        display: unset;
    }

    .input_field {
        width: 100%;
    }

    .search_order_btn {
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 10px;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 530px) {
    .search_order {
        text-align: center;
        display: unset;
    }

    .search_order_btn {
        text-align: center;
    }
}

@media only screen and (max-width: 450px) {
    .img_order img {
        width: 170px;
        height: 170px;
    }

    .one_order .status {
        width: 150px;
        margin: 0;
    }
}

@media only screen and (max-width: 395px) {
    .search_order input {
        width: 150px;
    }

    .search_order select {
        width: 155px;
    }
}
