#success {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    color: #7c9a6e;
}

.admin_products {
    width: auto;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
}

.form_names {
    width: 25%;
    display: inline-block;
}

.input_field {
    width: 74%;
    display: inline-block;
}

.input_field textarea {
    vertical-align: top;
}

.input_field input {
    width: 239px;
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
}

.input_field #upload {
    width: 255px;
}

.input_field select {
    width: 245px;
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
}

.error {
    font-family: sans-serif;
    font-size: 15px;
    color: red;
    display: inline-block;
    margin-left: 20px;
}

.add_change_product {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 20px;
    text-align: center;
    font-family: sans-serif;
}

@media only screen and (max-width: 1245px) {
    .form_names {
        width: 100%;
        display: unset;
    }

    .input_field {
        width: 100%;
    }
}

@media only screen and (max-width: 950px) {
    .admin_products {
        text-align: center;
        display: unset;
    }

    .error {
        width: 90%;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 645px) {
    .input_field textarea {
        width: 200px;
    }

    .input_field input {
        width: 164px;
    }

    .input_field #upload {
        width: 180px;
    }

    .input_field select {
        width: 170px;
    }
}
