.search_users {
    width: auto;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
}

.form_names {
    width: 25%;
    display: inline-block;
}

.search_user_input {
    width: 74%;
    display: inline-block;
}

.search_users input {
    width: 200px;
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
}

.search_user_btn {
    margin-left: 22px;
    margin-right: 22px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.list_accounts {
    margin-top: 70px;
    width: 100%;
    overflow: hidden;
}

.account {
    margin: 1%;
    overflow: hidden;
    text-align: center;
}

.account .account_id {
    padding-top: 1%;
    overflow: hidden;
}

.account .account_info {
    width: 50%;
    padding-top: 1%;
    overflow: hidden;
    display: inline-block;
    text-align: left;
}

.account_info .mail {
    margin-top: -15px;
    font-family: sans-serif;
    margin-left: 10px
}

.account .account_type {
    width: 40%;
    margin-left: 30px;
    overflow: hidden;
    padding-top: 1%;
    display: inline-block;
    vertical-align: top;
}

.account .account_type select {
    width: 60%;
}

.account .account_type input {
    margin-top: 10px;
}

@media only screen and (max-width: 1120px) {
    .account .account_info {
        width: 80%;
        padding-top: 1%;
        text-align: center;
    }

    .account .account_type {
        width: 80%;
        margin-left: 0;
        padding-top: 1%;
        vertical-align: unset;
    }

    .account .account_type select {
        width: 70%;
    }

    .account_info .mail {
        margin-left: 0;
    }
}

@media only screen and (max-width: 750px) {
    .form_names {
        width: 100%;
        display: unset;
    }

    .search_user_input {
        width: 100%;
    }

    .search_user_btn {
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 10px;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 530px) {
    .search_users {
        text-align: center;
        display: unset;
    }

    .search_user_btn {
        text-align: center;
    }
}

@media only screen and (max-width: 505px) {
    .account h3 {
        font-size: 20px
    }
}

@media only screen and (max-width: 460px) {
    .account_info .mail{
        font-size: 3.5vw;
    }
}

@media only screen and (max-width: 345px) {
    .search_users input {
        width: 150px;
    }
}
