#contact address {
    margin-left: 10px;
}

.service {
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 20px;
    overflow: hidden;
}

.contact_emailaddress {
    font-family: sans-serif;
    margin-left: 10px;
    margin-top: -15px;
    font-size: 17px;
}

.question {
    font-style: italic;
    font-size: 105%;
    font-weight: bold;
}

.answer {
    margin-left: 1%;
}

a.service_link {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}

a.service_link:hover {
    text-decoration: underline;
    color: inherit;
}

@media screen and (max-width: 450px) {
    .contact_emailaddress {
        font-size: 13.25px;
    }
}