#title_datacheckpage {
    overflow: hidden;
    margin-left: 5px;
    margin-right: 5px;
}

#title_datacheckpage p {
    text-align: center;
}

#title_datacheckpage a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#title_datacheckpage a:hover {
    text-decoration: underline;
}

#methodchoice form {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 25px;
    overflow: hidden;
}

#methodchoice input {
    width: 150px;
}

.data_input {
    width: auto;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
}

.data_names {
    width: 35%;
    display: inline-block;
    text-decoration: underline;
}

.data_input_values {
    width: 35%;
    display: inline-block;
}

@media only screen and (max-width: 905px) {
    .data_input {
        text-align: center;
    }

    .data_names {
        width: 35%;
        display: unset;
    }
    
    .data_input_values {
        width: 35%;
        display: unset;
    }
}
