body {
    color: black;
    text-transform: uppercase;
    background-color: #e0e2e0;
}

#not_content {
    width: 100%;
    position: absolute;
    top: 20%;
    left: auto;
    right: auto;
}

#not_text {
    margin: auto;
    width: 65%;
}

#not_title {
    font-size: 150px;
    font-family: sans-serif;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

#not_message {
    font-size: 30px;
    font-family: sans-serif;
    margin-top: 10px;
    text-align: center;
}

@media only screen and (max-width: 420px) {
    #not_title {
        font-size: 100px;
    }
    
    #not_message {
        font-size: 20px;
    }
}