#footer {
    font-family: sans-serif;
    width: 75%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    position: relative;
}

#footer_content {
    background-color: #dce4ef;
    text-align: center;
}

.footer_column {
    width: 33%;
    height: auto;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 0px 20px 20px 20px;
    margin-top: 25px;
}

.footer_column ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 15px;
}

.footer_column ul li {
    margin-bottom: 10px;
}

.footer_title {
    font-size: 115%;
    font-weight: bold;
}

.footer_icons ul li {
    display: inline-block;
}

.footer_icons img {
    width: 100%;
    height: auto;
    max-width: 65px;
}

#footer .link a {
    text-decoration: none;
    color: black;
    padding: 5px;
}

#footer .link a:hover {
    background-color: #a5a5df;
    border-bottom: 3px solid #00008b;
}

#footerend {
    margin-top: 20px;
    height: 1px;
}

#footer .copyright {
    text-align: center;
}

@media only screen and (max-width: 1345px) {
    .footer_column {
        width: 48%;
    }
}

@media only screen and (max-width: 875px) {
    .footer_column {
        width: 100%;
    }
}
