#main_content form {
    font-family: sans-serif;
    margin-left: 10px;
    margin-right: 10px;;
}

#main_content #user_mail, #f_pass, #s_pass {
    margin-bottom: 10px;
    margin-top: 10px;
}

#main_content #save_btn {
    margin-bottom: 15px;
}

#success {
    color: #7c9a6e;
    
}

.error {
    color: red;
}
