#banner {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: auto;
}

#banner img {
    width: 100%;
    height: auto;
}

.home_albums {
    background-color: white;
    color: black;
    border-style: solid;
    border-width: 7px;
    border-color: white;
    height: auto;
}

.home_table {
    overflow-x: auto;
    margin-bottom: 5px;
}

.home_albums table {
    height: 80%;
    width: 100%;
    font-size: 17px;
    font-family: sans-serif;
}

.home_albums td {
    width: 25%;
    vertical-align: top;
}

.home_album {
    height: 75%;
    text-align: center;
    padding-bottom: 5px;
}

.home_album a {
    width: 100%;
    text-decoration: none;
    color: black;
}

.home_album a:hover {
    text-decoration: underline;
}

.home_album img {
    height: 300px;
    width: 300px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

@media screen and (max-width: 1700px) {
    #banner {
        margin-top: -20px;
        margin-bottom: 50px;
    }

    .home_album img {
        height: 250px;
        width: 250px;
    }
}

@media screen and (max-width: 750px) {
    #banner {
        margin-top: -20px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 540px) {
    .home_album img {
        width: 200px;
        height: 200px;
    }
}

@media only screen and (max-width: 445px) {
    .home_album img {
        width: 150px;
        height: 150px;
    }
}
