#login_register {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    width: 95%;
}

#login_register #login {
    float: left;
    width: 42.25%;
    margin-left: 2%;
}

#login_register #create {
    margin-left: 5.5%;
    border-left: 2px solid black;
    padding-left: 5.5%;
    float: left;
    width: 42.25%;
    margin-right: 2%;
}

#login_register input {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
}

#login_register button {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
}

#login a {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}

#login a:hover {
    text-decoration: underline;
    color: inherit;
}

.error {
    color: red;
}

.success {
    color: #7c9a6e;
}

@media only screen and (max-width: 1140px) {
    #login_register {
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        margin-top: 20px;
        text-align: center;
        width: 75%;
    }

    #login_register #login {
        float: none;
        width: 100%;
        margin-left: 0;
    }

    #login_register #create {
        margin-top: 5%;
        margin-left: 0;
        border-left: 0px;
        padding-left: 0;
        float: none;
        width: 100%;
        margin-right: 0;
    }

    #login_register input {
        width: 70%;
    }

    #login_register button {
        width: 55%;
    }
}
