#link_logo {
    display: block;
    width: 14.25%;
    margin-left: 12.5%;
    z-index: 1;
}

#link_logo img {
    width: 95%;
    height: auto;
    max-width: 250px;
}

#navbar {
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;
    margin-bottom: 50px;
    width: 75%;
    background-color:transparent;
    overflow: hidden;
    font-family: "Verdana", Geneva, sans-serif;
}

.buttons {
    float: left;
    display: block;
    color: black;
    font-family: Arial;
    text-align: center;
    text-decoration: none;
    padding: 10px 10px;
    font-size: 17px;
}

#navbar a:hover {
    color: #00008b;
}

#navbar a {
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.search_form input {
    font-size: 15px;
    padding: 6px;
    height: 18px;
    border-radius: 5px 0px 0px 5px;
    border: none;
    width: 238px;
    margin-left: auto;
    margin-right: auto;
}

.search_form {
    float: right;
    margin-top: 4.5px;
}

.search_form form {
    width: 280px;
}

.links1 {
    width: 81%;
    float: right;
}

.links2 {
    width: 60%;
    float: left;
}

.search-button {
    background-color: white;
    border: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 0px 5px 5px 0px;
    height: 30px;
    width: 30px;
    padding: 6px;
    position: absolute;
}

.search-button:hover {
    background-color: #bec2c9;
    cursor: pointer;
}

.search-button img {
    width: 13px;
    margin-right: 5px;
}

.icons img {
    width: 14px;
    margin-right: 5px;
}

.dropbtn {
    color: black;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 10px 10px;
    background-color: transparent;
    border: none;
    font-size: 17px;
}

.dropbtn {
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.dropbtn img {
    width: 14px;
    margin-left: 5px;
}

.dropbtn:hover {
    background-color:transparent;
    cursor: pointer;
    color: #00008b;
}

.dropbtn:hover p {
    color: #00008b;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown {
    overflow: hidden;
}

#queryResult {
    width: 250px;
    z-index: 2;
    position: absolute;
    overflow-y: auto;
    max-height: 300px;
    margin-top: -15px;
}

#queryResult a {
    color: black;
    text-decoration: none;
}

#queryResult a:hover {
    background-color: white;
    text-decoration: underline;
}

#queryResult ul {
    list-style-type: none;
    background-color: #f1f1f1;
    width: 245px;
    padding: 2px;
    border-radius: 0px 0px 5px 5px;
}

#queryResults li {
    list-style-type: none;
}

@media screen and (max-width: 1510px) {
    #link_logo {
        height: auto;
        width: 75%;
        text-align: center;
        position: unset;
        margin: 0;
        z-index: 0;
        background-color: #dce4ef;
        margin-left: auto;
        margin-right: auto;
    }

    #navbar {
        margin-top: 0px;
    }

    .buttons {
        float: none;
    }

    .search_form {
        float: none;
        width: 280px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .links1 {
        width: 100%;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    .links2 {
        width: 100%;
        float: none;
    }

    .dropbtn {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .dropdown-content {
        position: relative;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 500px) {
    .search_form {
        width: 170px;
    }

    .search_form form {
        width: 170px;
    }

    .search_form input {
        width: 128px;
    }

    #queryResult {
        width: 140px;
    }

    #queryResult ul {
        width: 140px;
    }
    
    #queryResults li {
        width: 140px;
    }
}
