.order {
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.order_img {
    display: inline-block;
    margin: 10px;
}

.order_img img {
    width: 200px;
    height: 200px;
}

.order_info {
    display: inline-block;
    vertical-align: top;
    width: 35%;
    max-height: 270px;
    margin: 10px;
}

.order_btns input {
    width: 47%;
    margin-left: 10px;
}

.order_albums {
    max-height: 205px;
    overflow-y: auto;
}

.order_albums table {
    width: 90%;
    margin: auto;
    border: 1px solid #dddddd;
    border-collapse: collapse;
}

.order_albums a:visited {
    text-decoration:none;
    color: inherit;
}

.order_albums a {
    text-decoration: none;
    color: inherit;
    font-family: sans-serif;
}

.order_albums a:hover {
    text-decoration: underline;
}


.order_albums tr:nth-child(even) {
    background-color: #dddddd;
}

@media only screen and (max-width: 1285px) {
    .order {
        text-align: center;
    }

    .order_img {
        width: 90%;
        text-align: center;
    }

    .order_img img {
        width: 250px;
        height: 250px;
    }

    .order_info {
        width: 75%;
    }

    .order_btns input {
        margin-left: 0;
    }
}

@media only screen and (max-width: 500px) {
    .order_btns input {
        width: 150px;
    }
}

@media only screen and (max-width: 450px) {
    .order_img img {
        width: 200px;
        height: 200px;
    }
}

@media only screen and (max-width: 360px) {
    .order_img img {
        width: 170px;
        height: 170px;
    }
}