#title_final {
    overflow: hidden;
    margin-left: 5px;
}

#title_final p {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 25px;
}

#title_final a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#title_final a:hover {
    text-decoration: underline;
}
