#title_payment {
    margin-top: 28px;
    margin-left: 14px;
    margin-right: 14px;
}

#title_payment p {
    margin-top: 28px;
    overflow: hidden;
}

.paymethod {
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 20px;
    overflow: hidden;
}

.payment_logo {
    width: 75%;
    height: auto;
    max-width: 50px;
}