#title_paypage button {
    margin-left: 10px;
    margin-bottom: 25px;
    color: black;
}

#title_paypage a {
    text-decoration: none;
    color: black;
}

#title_paypage {
    margin-left: 12px;
    margin-right: 12px;
}
