#filter_nav {
    display: block;
    width: 75%;
    margin: auto;
    background-color: white;
    overflow: hidden;
    margin-bottom: -50px;
}

#filter_nav select {
    width: 55%;
    margin-left: 10px;
    margin-top: 20px;
    float: left;
}

#filter_nav a {
    display: block;
    text-decoration: underline;
    color: black;
}

.filter {
    float: left;
}

#filternav .dropdown-content {
    background-color: white;
}

.maxminvalue {
    width: 30%;
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
    float: left;
}

.submit {
    margin-top: 20px;
}

.check {
    float: right;
    margin-right: 15px;
}

.fat {
    display: block;
    padding: 0;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 10px;
    float: left;
}

.list {
    display: block;
    text-align: left;
    color: black;
    font-family: sans-serif;
    margin-left: 10px;
    background-color: white;
}

.value_error {
    margin-left: 5px;
    color: red;
    font-family: inherit;
}

#overview {
    width: auto;
    height: auto;
    overflow: hidden;
}

.dropbtn .dropimg {
    width: 30px;
}

.filter button {
    margin-top: 10px;
    font-weight: bold;
}

#overview_content {
    width: auto;
    height: auto;
    overflow: hidden;
    padding: 10px;
    text-align: center;
}

.product_div {
    text-align: center;
    display: inline-block;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
    height: auto;
    border-bottom: 3px lightgrey solid;
    border-right: 3px lightgrey solid;
    border-top: 1px lightgrey solid;
    border-left: 1px lightgrey solid;
}

.product_div a {
    width: 100%;
    text-decoration: none;
    color: black;
}

.product_div a:hover {
    text-decoration: underline;
}

.product_div img {
    height: 275px;
    width: 275px;
    margin-bottom: 5px;
}

@media screen and (max-width: 1665px) {
    .filter {
        width: 100%;
    }

    .filter button {
        text-align: left;
    }
}

@media screen and (max-width: 1010px) {
    .product_div {
        width: 200px;
    }

    .product_div img {
        height: 175px;
        width: 175px;
    }

    .filter {
        width: 100%;
    }
}

@media screen and (max-width: 750px) {
    #filter_nav {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 520px) {
    .maxminvalue {
        width: 90%;
    }
}



@media screen and (max-width: 370px) {
    .product_div {
        width: 175px;
    }

    .product_div img {
        height: 150px;
        width: 150px;
    }

    .product_div p {
        font-size: 15px;
    }
}
