.product_table {
    margin-left: 20px;
    margin-right: 20px;
}

.product_cover {
    display: inline-block;
    overflow: hidden;
}

.product_cover img {
    width: 250px;
    height: 250px;
}

.product_information {
    vertical-align: top;
    display: inline-block;
    margin-left: 25px;
    width: 70%;
    height: auto;
    overflow: hidden;
}

.product_description {
    width: 100%;
    height: auto;
    font-family: sans-serif;
}

.product_information ul {
    font-size: 17px;
    font-family: sans-serif;
    margin-right: 15px;
}

.product_information h5 {
    text-align: left;
    text-transform: uppercase;
    font-size: 20px;
    font-family: sans-serif;
    border-bottom: 2px solid black;
    margin-left: 10px;
    margin-right: 10px;
}

.product_buttons {
    margin-bottom: 1%;
    margin-top: 1%;
    text-align: center;
}

.product_buttons form {
    width: 150px;
    display: inline-block;
}

#related_text {
    color: #00008b;
}

#related_table {
    overflow-x: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    font-family: sans-serif;
}

#related_table td {
    vertical-align: top;
}

.album {
    height: 75%;
    text-align: center;
    padding-bottom: 5px;
}

.album a {
    width: 100%;
    text-decoration: none;
    color: black;
}

.album a:hover {
    text-decoration: underline;
}

.album img {
    height: 200px;
    width: 200px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

@media only screen and (max-width: 1335px) {
    .product_information {
        width: 60%;
    }
}

@media only screen and (max-width: 1020px) {
    .product_cover {
        width: 100%;
        text-align: center;
    }

    .product_information {
        margin: 0;
        width: 100%;
    }

    .product_description {
        text-align: center;
    }
}


@media only screen and (max-width: 685px) {
    .product_buttons form {
        display: unset;
        margin-top: 3px;
    }

    .product_buttons button {
        display: unset;
        width: 250px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 445px) {
    .product_cover img {
        width: 170px;
        height: 170px;
    }

    .product_buttons button {
        width: 150px;
    }

    .album img {
        height: 160px;
        width: 160px;
    }
}

@media only screen and (max-width: 380px) {
    .product_information h5 {
        font-size: 12.5px;
    }

    .product_information ul {
        font-size: 16px;
    }
}
