.retour {
    background-color: white;
    color: black;
    border-style: solid;
    border-width: 7px;
    border-color: white;
    height: auto;
}

.retour textarea {
    margin-left: 10px;
    width: 80%;
}

.retour_table
{
    overflow-x: auto;
}

.retour_radio .radio_lbl
{
    border-radius: 30%;
    margin-left: 2%;
    color: black;
}

.retour_table table
{
    width: 30em;
    border: 1px solid #dddddd;
    border-collapse: collapse;
    margin-left:10px;
}

.retour_table a:visited
{
    text-decoration:none;
    color: inherit;
}

.retour_table tr:nth-child(even)
{
    background-color: #dddddd;
}

.check_return {
    float: right;
    width: 50px;
}

.submit_form input {
    margin-left: 10px;
}

.error {
    color: red;
}

@media screen and (max-width: 600px) {
    .radio_lbl {
        width: 100%;
        display: block;
    }
}