.empty_cart {
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.product {
    width: 90%;
    margin: auto;
    overflow: hidden;
    margin-bottom: 30px;
}

.product_img {
    display: inline-block;
    overflow: hidden;
    margin-left: 2%;
}

.product_img img  {
    width: 170px;
    height: 170px;
    margin-left: auto;
    margin-right: auto;
}

.product_info {
    width: 75%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.5%;
    margin-right: 2%;
}

.list {
    width: 60%;
    display: inline-block;
    vertical-align: top;
}

.amount {
    width: 15%;
    display: inline-block;
    text-align: center;
    font-size: 15px;
}

.amount a {
    text-decoration: none;
    color: inherit;
    font-size: larger;
}

.amount a:hover {
    color: #7c9a6e;
    border-color: #7c9a6e;
}

.amount a:hover {
    color: #7c9a6e;
    border-color: #7c9a6e;
}

.delete_btn {
    width: 100%;
    margin-top: 15px;
}

.delete_btn button {
    width: 200px;
}

.price {
    text-align: right;
    width: 23%;
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
}

.bottom_cart {
    margin: auto;
    width: 95%;
}

.product_border {
    border-top: 1px solid grey;
    width: 99%;
    text-align: center;
    overflow: hidden;
    margin-bottom: 30px;
}

.price_info {
    width: 100%;
    margin-top: 30px;
    vertical-align: top;
    text-align: right;
    margin-right: 1%;
    padding-left: 6%;
    font-size: 15px;
    display: inline-block;
}

.price_text {
    vertical-align: top;
    width: 30%;
    display: inline-block;
}

.total_price {
    margin-right: 12%;
    display: inline-block;
    vertical-align: top;
    text-align: right;
    font-weight: bold;
}

.total_price a {
    text-decoration: none;
    color: black;
}

.cart_btns {
    text-align: right;
    margin-right: 6%;
    float: right;
    width: 100%;
}

.cart_btns form {
    display: inline-block;
    width: 200px;
}

.cart_btns #pay {
    background-color: rgb(32, 189, 32);
    color: white;
    width:150px;
}

.cart_btns #shop{
    background-color: rgb(235, 21, 21);
    color: white;
    width:150px;
}

@media only screen and (max-width: 1600px) {
    .list {
        width: 60%;
    }

    .price {
        width: 22%;
    }
}

@media only screen and (max-width: 1470px) {
    .product_img {
        width: 100%;
        text-align: center;
        margin-left: 0;
    }

    .product_img img  {
        width: 200px;
        height: 200px;
    }

    .product_info {
        width: 96%;
        margin-left: 2%;
        border-top: 1px solid grey;
        margin-top: 15px;
    }

    .price {
        width: 20%;
    }
}

@media only screen and (max-width: 1235px) {
    .price_info {
        width: 75%;
        margin-top: 25px;
        padding-top: 2%;
        padding-left: 0;
        text-align: center;
    }

    .price_text {
        text-align: left;
        width: 100px;
    }

    .total_price {
        width: auto;
        text-align: left;
    }

    .cart_btns {
        text-align: center;
        margin-right: 0;
        margin-top: 25px;
    }
}

@media only screen and (max-width: 920px) {
    .product_info {
        text-align: center;
    }

    .list {
        width: 100%;
    }

    .amount {
        width: 100%;
    }

    .price {
        width: 100%;
        margin-top: 10px;
        text-align: center;
    }
}

@media only screen and (max-width: 584px) {
    .cart_btns form {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 440px) {
    .price_text {
        width: 100%;
        text-align: center;
    }

    .total_price {
        width: 100%;
        text-align: center;
        margin-top: -25px;
    }
}

@media only screen and (max-width: 390px) {
    .product_img img {
        width: 170px;
        height: 170px;
    }

    .delete_btn button {
        width: 150px;
    }
}
