body {
    background-color: #dce4ef;
}

#main_content {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    margin-top: 50px;
    background-color: white;
    overflow: hidden;
}

#main_content h2 {
    text-align: left;
    text-transform: uppercase;
    font-size: 30px;
    font-family: sans-serif;
    border-bottom: 2px solid black;
    margin-left: 10px;
    margin-right: 10px;
}

#main_content h3 {
    text-align: left;
    text-transform: uppercase;
    font-size: 20px;
    font-family: sans-serif;
    border-bottom: 2px solid black;
    margin-left: 10px;
    margin-right: 10px;
}

#main_content h4 {
    text-align: left;
    text-transform: uppercase;
    font-size: 10px;
    font-family: sans-serif;
    border-bottom: 2px solid black;
    margin-left: 10px;
    margin-right: 10px;
}

#main_content h5 {
    font-family: sans-serif;
    text-transform: uppercase;
}

#main_content p {
    font-family: sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}

#main_content a {
    font-family: sans-serif;
}

@media only screen and (max-width: 750px) {
    #main_content {
        margin-top: -20px;
    }
}

@media only screen and (max-width: 445px) {
    #main_content h2 {
        font-size: 18.5px;
    }

    #main_content h3 {
        font-size: 17.5px;
    }
}
