#success_message {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    color: #7c9a6e;
}

.details_input {
    width: auto;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
}

.names_form {
    width: 25%;
    display: inline-block;
}

.fields_input {
    width: 74%;
    display: inline-block;
}

.error_message {
    font-family: sans-serif;
    font-size: 15px;
    color: red;
    display: inline-block;
    margin-left: 20px;
}

.details_input input {
    width: 200px;
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
}

.details_save {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 10px;
    text-align: center;
}

@media only screen and (max-width: 1420px) {
    .names_form {
        width: 100%;
        display: unset;
    }

    .fields_input {
        width: 100%;
    }
}

@media only screen and (max-width: 1075px) {
    .details_input {
        text-align: center;
        display: unset;
    }

    .error_message {
        width: 90%;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 355px) {
    .details_input input {
        width: 150px;
    }
}
